.h1{
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: 30px;
}
.text{
    font-size: 45px;
    text-align: center;
    margin-top: 20px;
}
.allInfo{
    width: 40%;
}
.allInfo_1{
    font-weight: 600;
    font-size: 20px;
}
